@font-face
{ 
    font-family: Russo One;src:url(russo-one-v8-latin-regular.woff);
}  
  
body
{
    color:black;
    background-color: whitesmoke;
    margin-top: 5%;
    margin-right: 1%;
    margin-bottom: 10%;
    margin-left: 1%;
    font-family:'Russo One', sans-serif;
}
header
{
    color:red;
    font-size: 3.5em;
}
h1
{
    color:red;
    font-size: 2.5em ;
}
h2
{
    color:maroon;
    font-size: 2em ;
}
h4
{
    color:maroon;
    font-size: 2em;
}
table
{
    border-color:red;
    color:black;
    background-color: lightpink;
}
ol
{
    color: firebrick;
    font-size: 1em;
    margin-left: 2%;
    list-style-type: circle;
}
ul 
{
    color: firebrick;
    font-size: 1em;
    margin-left: 2%;
    list-style-type: circle;
}
li
{
    color:firebrick;
    font-size: 0.75em;
    margin-left: 8.5%;
}
dl
{
    color:firebrick;
    font-size: 1em;
    margin-left: 2%;
    list-style-type: circle;   
}
dt
{
    color:firebrick;
    font-size: 1em;
    margin-left: 2%;
    list-style-type: circle;
}
dd
{
    color:firebrick;
    font-size: 1em;
    margin-left: 2%;
    list-style-type: circle;
}
#normal p:first-letter
{
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    line-height: 0.7em;
    float: left;
    margin: 0.1em;
    color:red;
}
.fondo
{
    background-image: image("manual.png");
}
.ejemplo
{
    color:black;
    background-color: cornsilk;
    font-size: 1.15em;
}
pre
{
    color:darkred;
    font-size: 1.25em;
}
section
{
    color:black;
    font-size: 1.35em;
}
p
{
    color:black;
    margin-left: 1%;
}
a
{
    color:red;
    margin:1em;
}
footer
{
    color:red;
    font-size:0.5em;
    margin-left: 15em;
}