/*aqui añadiremos los estilos que deseamos para nuestra pagina
*/
body {
      color: black;
      background-color: whitesmoke;
      font-family: 'Courier New', Courier, monospace, "Times New Roman",
    Times, serif;  
    }
