/*aqui añadiremos los estilos que deseamos para nuestra pagina
*/
p
{
color:black; font-family: Arial, Helvetica, sans-serif;
}
h1,h2,h3,h4,h5,h6
{
color:purple;
font-weight: 100;
font-family: Arial, Helvetica, sans-serif;
}
